
.navbar-brand {
  text-transform: none;
}

.nav-link {
  font-family: 'Arial';
}

/* aligns title with nav items */
.nav-item {
  padding-top: 3px;
}
.dropdown.nav-item {
  padding-top: 2px;
}

.navbar {
  font-family: 'Arial'
}

/* used to align the logo image */
.navbar-header {
  line-height: 100px
}

/* aligns and styles the Stand popover */
.stand-pop {
  max-width: none;
}
.stand-pop div span {
  text-align: right;
  display: inline-block;
  line-height: 14pt;
}
.stand-pop div button {
  display: inline-block;
  float: right;
  margin-left: 1em;
}

/* for SafetyCockpit:::infoPop with a lot of text */
.big-info {
  max-width: 50%;
}

/* for SafetyCockpit:::infoPop with moderate amount of text */
.mid-info {
  max-width: 25%;
}

/* aligns shiny::showNotification to the bottom left */
#shiny-notification-panel {
  left: .2em;
  bottom: .2em;
}

/* progress detail on separate line */
.progress-text {
  display: inline-grid;
} 
